/* responsive styles */
/* for responsive mobile device */
@media screen and (max-width: 576px) {

    /* design for nav */
    .nav-container {
        flex-direction: column;
        box-shadow: none;
        margin-bottom: 50px;
    }

    .nav-items-container {
        flex-direction: column;
    }

    .nav-items-container a {
        margin-bottom: 30px;
        margin-right: 40px;
        align-items: center;
    }

    .nav-social-icons a {
        margin-right: -10px;
        margin-bottom: 20px;
        margin-left: 20px;
        padding-right: 20px;
        font-size: 0.9rem;
    }

    .nav-social-icons {
        align-items: center;
        margin-right: 40px;
        padding-top: 20px;
        padding-bottom: 0;
    }

    /* design for banner */
    .banner-container {
        flex-direction: column-reverse;
        gap: 50px;
    }

    .image-banner {
        width: 80%;
        height: auto;
        margin: 0 35px;
    }

    .banner-description p {
        font-size: 2rem;
    }

    .banner-description h2 {
        font-size: 3.5rem;
    }

    .banner-icon-text .banner-text-with-icon {
        font-size: 1rem;
    }

    /* design for online game part */
    .online-game-description-container {
        flex-direction: column;
        padding: 0 20px;
    }

    .section-title {
        font-size: 2rem;
    }

    .setion-description {
        margin-top: 20px;
        font-size: 1rem;
    }

    .card-container {
        flex-direction: column;
    }

    .card-container .card img {
        width: 300px;
    }

    .card-title {
        max-width: 300px;
        height: auto;
        text-align: center;
    }

    .card:hover::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 98%;
        height: 86%;
        border: 3px solid #f51f8d;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1;
    }

    .card:hover::after {
        font-family: FontAwesome;
        content: "\f144 \A Watch Now";
        position: absolute;
        margin-top: 100px;
        text-align: center;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 10px;
        font-weight: bold;
        text-transform: uppercase;
        padding: 10px 20px;
        z-index: 2;
    }

    /* design game for play game */
    .play-games-online {
        margin-top: 0;
    }

    .paly-games-online-container {
        flex-direction: column-reverse;
        gap: 30px;
        align-items: center;
    }

    .paly-games-online-container .play-game-online-description-container {
        text-align: center;
        margin-top: 0;
    }

    .paly-games-online-container .play-game-online-description-container .setion-description {
        text-align: center;
        font-size: 0.8rem;
        margin-bottom: 0;
    }

    .play-games-online-img-container img {
        width: 100%;
        max-width: 260px;
    }

    .image-overlaping img {
        position: relative;
        width: 130px;
        bottom: 130px;
        left: 170px;
        margin-top: 30px;
    }

    /* design for sponsor logo */
    .sponsor-logo {
        margin: 0 40px 20px 50px;
    }

    .loge-text {
        flex: calc(33.33% - 10px);
        max-width: calc(33.33% - 10px);
        gap: 5px;
    }

    .loge-text img {
        width: 25%;
    }

    .loge-text p {
        font-size: 0.8rem;
    }

    /* design for footer part */

    .footer-nav {
        grid-auto-flow: row;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        gap: 20px;
    }

    .footer-logo-container {
        margin-bottom: 10px;
    }

    .footer-nav a {
        font-size: 0.9rem;
        margin: 0 10px 0 0;

    }

    .footer-icon {
        grid-auto-flow: row;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        gap: 30px;
        margin-bottom: 50px;
        margin-top: 10px;
    }

    .footer-terns-and-condition-nav {
        grid-auto-flow: row;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap: 10px;
        row-gap: 10px;
    }

    .footer-terns-and-condition-nav a {
        font-size: 0.9rem;
        margin: 0 0 20px 35px;
    }

    .copyright-text {
        font-size: 0.9rem;
        margin: 0 30px;
        padding: 0 30px;
        margin-top: 40px;
    }

}


/* for responsive tablet devices */
@media screen and (min-width: 576px) and (max-width: 960px) {

    /* for nav section */
    .nav-container {
        flex-direction: column;
        box-shadow: none;
        margin-bottom: 50px;
    }

    .nav-items-container {
        flex-direction: column;
    }

    .nav-items-container a {
        margin-bottom: 30px;
        margin-right: 40px;
        align-items: center;
    }

    .nav-social-icons a {
        margin-right: -10px;
        margin-bottom: 20px;
        margin-left: 20px;
        padding-right: 20px;
    }

    .nav-social-icons {
        align-items: center;
        margin-right: 40px;
        padding-top: 20px;
        padding-bottom: 0;
    }



    /* for banner section */
    .banner-container {
        flex-direction: column-reverse;
        gap: 50px;
    }

    .image-banner {
        width: 80%;
        height: auto;
        margin: 0 50px;
    }

    /* for online game section part */
    .online-game-description-container {
        flex-direction: column;
        padding: 0 20px;
    }

    .setion-description {
        margin-top: 20px;
        font-size: 0.8rem;
    }

    .card-container {
        flex-wrap: wrap;
    }

    .card-container .card img {
        width: 300px;
    }

    .card-title {
        max-width: 300px;
        height: auto;
        text-align: center;
    }

    .card:hover::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 98%;
        height: 86%;
        border: 3px solid #f51f8d;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1;
    }

    .card:hover::after {
        font-family: FontAwesome;
        content: "\f144 \A Watch Now";
        position: absolute;
        margin-top: 100px;
        text-align: center;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 10px;
        font-weight: bold;
        text-transform: uppercase;
        padding: 10px 20px;
        z-index: 2;
        white-space: pre;
    }

    /* for play game part */
    .play-games-online {
        margin-top: 0;
    }

    .paly-games-online-container {
        flex-direction: column-reverse;
        gap: 40px;
        align-items: center;
    }

    .paly-games-online-container .play-game-online-description-container {
        text-align: center;
        margin-top: 0;
    }

    .paly-games-online-container .play-game-online-description-container .setion-description {
        text-align: center;
        font-size: 1.1rem;
        margin-bottom: 0;
    }

    .play-games-online-img-container img {
        width: 100%;
        max-width: 400px;
    }

    .image-overlaping img {
        position: relative;
        width: 150px;
        bottom: 150px;
        left: 300px;
        margin-top: 30px;
    }

    /* design for sponsor logo */
    .sponsor-logo {
        margin: 0 60px 50px 60px;
        padding: 0 30px 0 30px;
    }

    .loge-text {
        flex: calc(33.33% - 10px);
        max-width: calc(33.33% - 10px);
    }

    .loge-text img {
        width: 30%;
    }

    .loge-text p {
        font-size: 1rem;
    }

    /* desing for footer */
    .footer-nav {
        grid-auto-flow: row;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        gap: 0px;
    }

    .footer-logo-container {
        margin-bottom: 10px;
    }

    .footer-nav a {
        font-size: 1rem;
        margin: 0 10px 0 0;

    }

    .footer-icon {
        grid-auto-flow: row;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        gap: 50px;
        margin-bottom: 50px;
        margin-top: 10px;
    }

    .footer-terns-and-condition-nav {
        grid-auto-flow: row;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap: 10px;
        row-gap: 10px;
    }

    .footer-terns-and-condition-nav a {
        font-size: 1rem;
        margin: 0 0 20px 35px;
    }

    .copyright-text {
        font-size: 0.9rem;
        margin: 0 30px;
        padding: 0 30px;
        margin-top: 40px;
    }

}